.wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;

}

.container {

    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 625px;
    width: 500px;
    background-color: black;
    align-items: center;
    

}


.display {


    display: flex;
    background-color: white;
    height: 150px;
    width: 400px;
    margin-bottom: 100px;
    font-weight: bold;
    font-size: 2rem;
    
    
   
    
}



.operators {


    display: flex;
    
}

.numbers {

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 60px;
    width:max-content;
    
}




.operators button{
    
    
    height: 85px;
    width: 100px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    
    
   



}

.numbers button {

    
    height: 60px;
    width: 167px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    

}

#AC {

    background-color: red;


}


#equal {


    background-color: green;
}