.wrapper {

    display: flex;
    justify-content: center;
    align-items: center;

}

.container {

    display: flex;
    height: 600px;
    width: 300px;
    

}

.operators button{
    
    display: flex;
    height: 60px;
    width: 60px;
    



}



.numbers button {

    display: flex;
    height: 60px;
    width: 60px;
    
    
    

}


